@import "../common/common.css";

.main .content-pay .basic-title {
    font-size: 22px;
    color: #f03f50;
    margin: 28px 0;
}

.main .content-pay .basic-cont,
.main .content-pay .content-pay-list .pay-list-item {
    border: solid 4px #2f2f2f;
}

.main .content-pay .content-pay-list .pay-list-item {
    padding: 18px;
}

.main .content-pay .content-pay-list .pay-list-item .pay-list-img {
    margin-right: 16px;
}

.main .content-pay .content-pay-list .pay-list-item .pay-list-tit {
    width: 1000px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main .content-pay .content-pay-list .pay-list-item .pay-list-link {
    width: 140px;
    height: 40px;
    line-height: 40px;
    padding-left: 40px;
    background: #f03f50;
    color: #fff;
    cursor: pointer;
}


.main .content-pay .content-pay-list .pay-list-item .pay-list-cont span {
    color: #f03f50;
}
