body {
    font-family: SourceHanSansCN-Medium;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0;
    background-color: #f7f8fa;
    color: #2f2f2f;
}

h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}

ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.clear:after {
    display: block;
    content: '';
    overflow: hidden;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.main {
    width: 1200px;
    margin: 0 auto;
}

.main .content {
    width: 808px;
    margin: 0 30px 36px 0;
    background-color: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(255, 111, 131, 0.24);
}

.main .bread {
    width: 100%;
    padding: 20px 0;
}

.main .side {
    width: 304px;
}

.main .side .side-top {
    position: relative;
    margin-bottom: 26px;
}

.main .side .side-top .wx-service {
    position: absolute;
    top: 168px;
    left: 174px;
    height: 16px;
}

.main .side .side-top .wx-service p {
    font-size: 16px;
    color: #414245;
}

.main .side .side-bot {
    background-color: #ffffff;
    border: solid 1px #e5e5e5;
    text-align: center;
    padding-bottom: 20px;
}

.main .side .side-bot .side-bot-tit {
    display: inline-block;
    width: 127px;
    height: 29px;
    background-color: #95d980;
    border-radius: 14px 0 14px 0;
    line-height: 29px;
    color: #fff;
    margin: 0 88px 28px 88px;
}

.main .side .side-bot .qq-block {
    width: 76px;
    margin-left: 42px;
}

.main .side .side-bot .wx-block {
    width: 109px;
    margin-left: 55px;
}

.main .side .side-bot .side-bot-txt {
    margin-top: 5px;
}

.main .detail-table {
    width: 356px;
    height: 220px;
    margin: 10px 34px 0 0;
    text-align: center;
    border-top: solid 1px #5d5d5d;
    border-left: solid 1px #5d5d5d;
}

.main .detail-table th {
    border-right: solid 1px #5d5d5d;
    border-bottom: solid 1px #5d5d5d;
    height: 45px;
}
.main .detail-table td {
    border-right: solid 1px #5d5d5d;
    border-bottom: solid 1px #5d5d5d;
}

.main .detail-table .detail-table-title {
    font-weight: bold;
}

.main .detail-charts {
    width: 358px;
    height: 237px;
}

.main .detail-explain {
    line-height: 22px;
    margin: 36px 0 17px 0;
}

.main .detail-explain span {
    color: #f03f50;
}
