.bb-name-date-pl {
    display: none;
}

.bb-name-date-pl .datetime_selector {
    box-sizing: content-box;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px solid #373d41;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
    box-shadow: 0 0 5px rgba(0,0,0,.25);
    z-index: 99999;
    border-radius: 3px;
    background: #373d41;
    width: 600px;
    height: 254px;
    margin: auto;
}

.bb-name-date-pl .datetime_selector .hd {
    position: relative;
    padding: 5px 0 10px;
    text-align: right;
    font-size: 15px;
}

.bb-name-date-pl .datetime_selector .bd {
    overflow: hidden;
}

.bb-name-date-pl .datetime_selector .hd .datetime_input{
    background: #282c2f;
    color: #fff;
    border-radius: 4px;
    padding: 0 10px;
    width: 280px;
    height: 30px;
    text-align: left;
    line-height: 30px;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio {
    color: #777;
    line-height: 1;
    cursor: pointer;
    margin-top: 2px;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio input {
    display: none;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio p {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 0;
    cursor: pointer;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio p i {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 2px solid #777;
    margin: -1px 4px 0 0;
    vertical-align: bottom;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio p.on {
    color: #c83632;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio p.on i {
    border-color: #c83632;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio p.on em {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #c83632;
    border-radius: 50%;
    position: relative;
    top: -4px;
    left: -3px;
}

.bb-name-date-pl .datetime_selector .hd .datetime_radio.leapMonth {
    display: none;

}

.bb-name-date-pl .datetime_selector .hd .datetime_radio.leapMonth p i {
    border-radius: 0;
}

.bb-name-date-pl .datetime_selector .hd .btn-ok {
    cursor: pointer;
    padding: 5px 20px;
    background: #c83632;
    color: #fff;
    border-radius: 4px;
    line-height: 20px;
    font-size: 14px;
}

.bb-name-date-pl .datetime_selector .bd li {
    margin-right: 2px;
}

.bb-name-date-pl .datetime_selector .bd .item-tit {
    display: block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background: #282c2f;
    color: #fff;
    font-size: 14px;
}

.bb-name-date-pl .datetime_selector .bd .item-cont {
    height: 170px;
    overflow-y: auto;
    margin: 6px 0;
    position: relative;
}

.bb-name-date-pl .datetime_selector .bd .item-cont input {
    display: none;
}

.bb-name-date-pl .datetime_selector .bd .item-cont span {
    display: inline-block;
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    padding: 0;
    border-radius: 3px;
    cursor: pointer;
    color: #777;
}

.bb-name-date-pl .datetime_selector .bd .item-cont span:hover {
    background: #777;
    color: #fff;
}

.bb-name-date-pl .datetime_selector .bd .item-cont span.on {
    background: #c83632;
    color: #fff;
}

