@import "../common/common.css";

body {
    color: #333;
}

.main .content {
    width: 886px;
    margin: 0 10px 20px 0;
    background-color: #ffffff;
    box-shadow: 0 3px 9px 0 rgba(255, 111, 131, 0.24);
}

.main .content-msg .content-msg-title {
    padding-bottom: 18px;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
}

.main .content-msg .content-msg-title h2 {
    font-size: 28px;
    padding-top: 25px;
    margin-bottom: 22px;
}

.main .content-msg .content-msg-title .time {
    margin-right: 70px;
}

.main .content-msg .content-msg-cont {
    padding: 0 26px;
    text-align: center;
    border-bottom: solid 1px #e5e5e5;
}

.main .content-msg .content-msg-cont .msg-submit-form {
    margin: 20px 0 40px 100px;
}

.main .content-msg .content-msg-cont .msg-submit-form .form-item input,
.main .content-msg .content-msg-cont .msg-submit-form .form-item option {

}

.main .content-msg .content-msg-cont .msg-submit-form .form-item select {
    width: 48px;
    height: 23px;
}

.main .content-msg .content-msg-cont .msg-submit-form #name {
    width: 111px;
    padding: 2px 4px;
}

.main .content-msg .content-msg-cont .msg-submit-form #date {
    width: 246px;
    padding: 2px 4px;
}

.main .content-msg .content-msg-cont .msg-submit-form .form-item:nth-child(1) {
    margin-right: 26px;
}

.main .content-msg .content-msg-cont .msg-submit-form .form-item:nth-child(2) {
    margin-right: 34px;
}

.main .content-msg .content-msg-cont .msg-cont-btn {
    display: inline-block;
    width: 135px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    margin-bottom: 35px;
    background: #c83632;
    color: #fff;
    font-size: 18px;
    border-radius: 18px;
    cursor: pointer;
}

.main .content-msg .content-msg-cont .msg-cont-cont {
    margin-bottom: 30px;
    text-align: left;
}

.main .content-msg .content-msg-cont .msg-cont-tit {
    margin-bottom: 25px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
}

.main .content-msg .content-msg-list {
    padding: 0 26px;
}

.main .content-msg .content-msg-list .msg-list-list {
    margin-top: 20px;
}

.main .content-msg .content-msg-list .msg-list-item {
    margin-bottom: 22px;
}

.main .content-msg .content-msg-list .msg-list-item p {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 18px;
}

.main .content-msg .content-msg-foot {
    padding: 18px 26px 38px 26px;
    border-top: solid 1px #e5e5e5;
    cursor: pointer;
}

.main .content-foot {
    box-sizing: border-box;
}

.main .content-foot .cont-foot-title {
    padding: 16px 26px 15px 50px;
    font-size: 18px;
    color: #c83632;
    border-bottom: solid 1px #e5e5e5;
}

.main .content-foot .cont-foot-list {
    padding: 20px 26px 0 26px;
}

.main .content-foot .cont-foot-list li {
    width: 192px;
    float: left;
    font-size: 18px;
    padding-left: 12px;
    margin-bottom: 14px;
    margin-right: 128px;
    box-sizing: border-box;
    cursor: pointer;
}

.main .content-foot .cont-foot-list li:nth-child(3n) {
    margin-right: 0;
}

.main .entry-qaq {
    width: 54px;
    height: 173px;
    background-color: #f03f50;
    border-radius: 30px 0 0 30px;
    font-size: 21px;
    color: #fff;
    padding: 50px 16px 0 18px;
    box-sizing: border-box;
    position: fixed;
    top: 506px;
    right: 0;
    cursor: pointer;
}

.main .side .side-title .side-tit-l {
    width: 115px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    background-color: #f972a2;
    border-radius: 1px 18px 1px 0;
    color: #fff;
}

.main .side .side-title .side-tit-r {
    color: #f03f50;
    margin-bottom: 9px;
    cursor: pointer;
}

.main .side .side-cont {
    background: #fff;
    color: #2c2c2c;
    padding: 16px 8px 14px 20px;
}

.main .side .side-cont .side-cont-cont {
    margin-bottom: 13px;
}

.main .side .side-cont .side-cont-cont .side-cont-l {
    width: 113px;
    height: 67px;
}

.main .side .side-cont .side-cont-cont .side-cont-r {
    width: 143px;
    margin-left: 13px;
}

.main .side .side-cont .side-cont-cont .side-cont-r p {
    color: #f03f50;
    margin-bottom: 6px;
}

.main .side .side-cont .side-cont-cont .side-cont-r span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.main .side .side-cont .side-cont-list li {
    padding-left: 7px;
    margin-bottom: 6px;
    cursor: pointer;
}

.side .side-cont .side-cont-list li:first-child {
    font-weight: bold;
}

.color1 {
    color: #7486f5;
}

.color2 {
    color: #f59874;
}
